.calback{
    background-color:rgb(1, 50, 78);
}
.phone{
    width: 400px;
    height: 600px;
    background-image: url('/images/callback/phone.png');
    background-size: 23rem;
    background-repeat: no-repeat;
    margin-top: 12rem;
    margin-left: 10rem;
}
input{
    border: 1px solid rgb(160, 159, 159);
}
.submit{
    background-color: rgb(1, 50, 78);
    padding: 1rem;
}
.gac{
    padding-top: 4rem;
}


   /* Media query for tablets */
@media (max-width: 768px) {
    div .calback{
        display:block;
       }
    .gac{
        padding-top: 4rem;
    }
    div .phone{
        margin-top: 1rem;
        margin-left: 6rem;
       }

    
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    div .calback{
        display:block;
       }
    
    div .phone{
        margin-top: 1rem;
        margin-left: -5rem;
       }
       .four{
        margin-left: -12rem;
       }

}