.icons{
    display: block;
    margin: auto;
    box-shadow: 1px 2px 1px 2px rgb(206, 206, 206);
}
.star{
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.card{
    border-radius: 8px 2px 2px 8px gray;
    box-shadow: 1px 2px 5px 5px rgb(206, 206, 206);
    margin-bottom: 1rem;
    width: 300px;
    height: 430px;
}

.tablet-slider{
    display: none;
}
.mobile-slider{
    display: none;
}

  /* Media query for tablets */
@media (max-width: 768px) {
  .desktop-slider{
    display: none;
  }
  .tablet-slider{
    display: block;
}
  .mobile-slider{
    display: none;
}
.card{
    width: 270px;
    padding-left: 0%;;
    
}

}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .desktop-slider{
    display: none;
  }
  .tablet-slider{
    display: none;
}
.mobile-slider{
  display: block;
}
}