.leaf-container{
    height: 17.4rem;
    background-color: rgb(197,230,254);
    box-shadow: 1px 2px 5px 8px rgb(197, 230, 254);
  }
.leaf-container h1{
    justify-content: center;
    align-items: center;
  } 
  .Law-difference{
    color: rgb(1,50,70);
  }
  @media (max-width: 768px) {
    .desktop-slider {
      display: none;
    }
    .leaf-container{
      margin-top: 1rem;
      height: 10rem;
      background-color: rgb(197,230,254);
      box-shadow: 1px 2px 5px 8px rgb(197, 230, 254);
    }
    
  }
  
  @media (min-width: 769px) {
    .mobile-slider {
      display: none;
    }
    .tablet-slider{
      display: none;
    }

  }